html, body {
  font-size: 18px;
  font-family: "Rubik"
}

.search-box {
  box-shadow: inset;
  border-radius: 5px;
  width: 30%;
  padding: 3px;
}

@media only screen and (min-width: 375px){
  .btn-mode {
    margin-top: 5px; 
   }
 
   .btn-mode, .btn-success {
     margin-left: 9px;
   }

   .search-box {
    width: 100%;
   }
}

